.header {
  &__input {
    position: absolute;
    top: 23px;
    left: 1261px;
    width: 260px;
    height: 35px;
    border-radius: 5px;
    border: transparent;
    background-color: #f8f8f8;
    padding: 9px 0 9px 21px;
  }

  &__input::placeholder {
    color: #b9b9b9;
    font-size: 12px;
  }
  &__logo {
    img {
      height: 30px;
    }
    position: absolute;
    top: 27px;
    left: 140px;
  }
  &__btn {
    position: absolute;
    top: 23px;
    left: 1604px;
    width: 132px;
    height: 35px;
    background-color: #4fb4b3;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 9px 13px;
    &_search {
      position: absolute;
      top: 32px;
      left: 1492px;
      width: 15px;
      height: 15px;
    }

    &_email {
      position: absolute;
      top: 34px;
      left: 1542px;
      width: 17px;
      height: 13px;
    }
    &_offer {
      position: absolute;
      top: 31px;
      left: 1576px;
      width: 15px;
      height: 18px;
    }
    &_red {
      position: absolute;
      top: 33px;
      left: 1586px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: red;
    }
    &_img {
      width: 16px;
      height: 18px;
    }

    &_text {
      margin-left: 8px;
      text-align: left;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0px;
      color: #fff;
    }
  }
}

.fio {
  position: absolute;
  top: 23px;
  left: 1745px;
  width: 35px;
  height: 35px;
  background-color: #fbc74a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }
}
