.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 22px;
}
.footer-block__text {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}
